@import url("./gloabal.css");

html {
    /* font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5; */
    font:16px/1.5 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:var(--base-font-size);
    box-sizing: border-box;
}

* {
    padding:0;
    margin:0;
    font: inherit;
    box-sizing: inherit;
}

h6{
    font-size: 1.2rem;
}
h5{
    font-size: 1.4rem;
}
h4{
    font-size: 1.6rem;
}
h3{
    font-size: 1.9rem;
}
h2{
    font-size: 2.4rem;
}
h2{
    font-size: 3rem;
}

h1,h2,h3,h4,h5,h6 {
    padding: 0.5em 0;
}