@model List<Hero>


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>


    @foreach (var hero in Model)
    {
        <div>
            <h4>@hero.Name</h4>
            <h5>@hero.Fraction</h5>
            <p> My health currently is : @hero.Health</p>
            <p> My Level currently is : @hero.Level</p>
        </div>
    }

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
